.git
.github
.idea
.vscode
.DS_Store

**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
packages/database/generated
**/.dart_tool
**/.fvm
**/Pods

.env
.env.*
!.env.example
!apps/admin/.env.production

.local
infra/data
packages/flutter_sdk
*.log
